<div class="page-nav-button-row">
  <a href="/animations/" class="custom-button" style="--bg-image: url('/assets/ui/animations-button.png')">
    <span class="button-text">Animations</span>
  </a>
  <a href="/films/" class="custom-button" style="--bg-image: url('/assets/ui/films-button.png')">
    <span class="button-text">Films</span>
  </a>
  <a href="/life-drawings/" class="custom-button" style="--bg-image: url('/assets/ui/life-drawings-button.jpeg')">
    <span class="button-text">Life Drawings</span>
  </a>
  <a href="/about-me/" class="custom-button" style="--bg-image: url('/assets/ui/about-me-button.jpeg')">
    <span class="button-text">About Me</span>
  </a>
</div>
